<md-dialog class="signup-dialog" aria-label="Sign Up Court"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Court {{courtName}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="description">Select the players
        <div><input type="search" ng-model="q" placeholder="Filter members..." aria-label="filter members" />
        </div>
    </div>
    <md-dialog-content>
      <div class="md-dialog-content" ng-controller="CourtController">
		<div>
		  <div class="member-list example-animate-container">
		    <div class="animate-repeat" ng-repeat="member in members | filter:q as results">
	            <md-checkbox ng-model="member.signup" ng-click="updateSignUp($event, member.name)" aria-label="Sign Up">
	            </md-checkbox>
		      {{member.name}} 
		    </div>
		    <div class="animate-repeat" ng-if="results.length == 0">
		      <strong>No results found...</strong>
		    </div>
		  </div>
		</div>
		<div class="waiting-line">
		  {{lines.length}} group(s) in the line
          <div><md-checkbox ng-model="merge.value" ng-click="updateMerge($event)" aria-label="Merge to last group">
               </md-checkbox>Merge to last court</div>		  
		  <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="line in lines">
              {{line.join(', ')}}
            </li>
          </ul>
		</div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('cancel')" style="margin-right:20px;">
        Cancel
      </md-button>      
      <md-button ng-click="answer('done')" style="margin-right:20px;">
        Sign Up
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
